.container-tela-produto {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  
  .linha {
    background-color: #ccd0cf;
    width: calc(100% - 40px);
    height: 1px;
    margin: 0 auto;
  }
  