.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 4px;
}

.info-container img {
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.image-container {
    border: 1px solid #5da0ad;
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.image-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
